<ion-header>
	<ion-toolbar>
		<ion-buttons>
      <ion-title class="central">Revista VEJA</ion-title>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="myGroup" (ngSubmit)="login()">
    <div class="box-login">
      <ion-input [(ngModel)]='email' type="text" placeholder="Email" name="email" formControlName="email"></ion-input>
      <ion-input [(ngModel)]='password' type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
      <ion-button type="submit" color="primary" block>Login</ion-button>
    </div>
	</form>
</ion-content>