.central{
    text-align: center;
}

.box-login {
    display: flex;
    flex-direction: column;
    margin: 20% auto 0px;
    width: 80%;
    ion-input{
        margin-bottom: 8px;
        border-bottom: 1px solid #3880ff;
    }
    ion-button{
        margin-top: 8px;
    }
}