iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.box-image{
    display: flex;
    justify-content: center;
    padding: 0px 0px;
}

.background-white {
    background-color: #fff;
}

.central{
    text-align: center;
}

.box-footer {
    margin: 0px auto;
    ion-icon{
        color: #4c8dff;
        font-size: 30px;
        margin: 0px auto;
        display: block;
        padding: 0px;
    }
    ion-title {
        font-size: 14px;
        color: #4c8dff;
        text-align: center;
    }
}

.icon{
    font-size: 20px;
    color: #4c8dff;
}

.button-text{
    font-size: 18px;
    margin-top: 2px;
    color: #4c8dff;
    position: absolute;
    right: 0px;
}

.logo{
    position: absolute;
    top: 0px;
    left: -4px;
    background-color: transparent;
}