<ion-header>
    <ion-toolbar>
      <ion-title>Revista VEJA</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngFor="let magazine of magazineList">
    <ion-item>
      <ion-img style="width:60px" [src]="magazine.cover"></ion-img>
      <ion-label>
        {{ magazine.edition }}<br/>
        {{ magazine.date }}<br/>
        R$ {{ magazine.value }}
      </ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
  </ion-list>
  <!--<iframe src="/assets/aframe-ar.html"></iframe>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-footer>
