iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.box-list{
    padding: 0px;
    ion-item {
        ion-label {
            padding-left: 20px;
            span {
                color: #4c8dff;
            }
        }
        .container-button {
            display: flex;
            flex-direction: column;
            height: 60px;
            justify-content: space-between;
        }
    }
}

.button-action {
    background-color: #fff;
    border: 1px solid #4c8dff;
    padding: 5px 10px;
    color: #4c8dff;
}

.background-white {
    background-color: #fff;
}

.central{
    text-align: center;
}

.btn-options {
    position: absolute;
    right: 0px;
}

.box-footer {
    margin: 0px auto;
    ion-icon{
        color: #4c8dff;
        font-size: 30px;
        margin: 0px auto;
        display: block;
        padding: 0px;
    }
    ion-title {
        font-size: 14px;
        color: #4c8dff;
        text-align: center;
    }
}

.icon{
    font-size: 20px;
    color: #4c8dff;
}