<ion-header style="margin-bottom:15px">
  <ion-toolbar>
    <ion-buttons>
      <ion-title class="central">Revista VEJA</ion-title>
      <button class="background-white" ion-button icon-only (click) ="goToSettings()">
        <ion-icon class="icon" name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="box-list" *ngFor="let magazine of magazineList">
    <ion-item>
      <ion-img [src]="magazine.cover" style="width:70px;height: 92px;"></ion-img>
      <ion-label>
        {{ magazine.edition }}<br/>
        {{ magazine.date }}<br/>
        <span>R$ {{ magazine.value }}</span>
      </ion-label>
      <div class="container-button" *ngIf="!magazine.bought">
        <button ion-button type="button" block class="button-action">Comprar</button>
        <button ion-button type="button" block class="button-action">Assinar</button>
      </div>
      <div class="container-button" *ngIf="magazine.bought">
        <button ion-button type="button" block class="button-action" (click)="goToMagazinePage()">
          Visualizar
        </button>
      </div>
    </ion-item>
  </ion-list>
  <!--<iframe src="/assets/aframe-ar.html"></iframe>-->
</ion-content>

<ion-footer>
  <ion-toolbar class="box-footer">
    <ion-icon name="cart" style="font-size:30px"></ion-icon>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-footer>
