<ion-header>
    <ion-toolbar>
      <ion-title>Revista VEJA</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
      <button ion-button type="submit" block>Comprar</button>
    </ion-item>
  </ion-list>
  <!--<iframe src="/assets/aframe-ar.html"></iframe>-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-footer>
