<ion-header style="margin-bottom:15px">
  <ion-toolbar>
    <ion-buttons>
      <ion-title class="central">Revista Veja - {{ magazine.edition }}</ion-title>
      <button class="background-white button-text" ion-button icon-only (click)="goBack()">
        Voltar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-img class="box-image" style="margin-top: 20px;width: auto;height: 70vh;" [src]="magazine.cover"></ion-img>
    </ion-slide>
    <ion-slide>
      <button class="logo" ion-button icon-only (click)="goToVR()">
        <ion-img [src]="logo" style="width:40px;height:40px;"></ion-img>
      </button>
      <ion-img class="box-image"  style="margin-top: 20px;width: auto;height: 70vh;" [src]="page"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar class="box-footer">
    <ion-icon name="cart" style="font-size:25px"></ion-icon>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-footer>
